@{
    //@ViewBag.itemss;
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.itemn;

    List<SelectListItem> itemslotes = (List<SelectListItem>)ViewBag.itemslotes;
      List<SelectListItem> itemcliente= (List<SelectListItem>)ViewBag.itemcliente;

}

@using Microsoft.AspNetCore.Http;
@*@ViewBag.datosseparado;*@
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>
  <link rel="stylesheet" href="~/Admintle/datatable/jquery.dataTables.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
   

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
       
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
    
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
    @*<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>*@
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="@ViewBag.VentasSeparado " class="img-circle elevation-2" alt="User Image"  style="width:50px;height:50px;">
        </div>
        <div class="info">
            <li>@Context.Session.GetString("sess_1")</li>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      @*<div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>*@

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Panel
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="@Url.Action("index","PanelGeneral")" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Estadisticas</p>
                </a>
              </li>
            
           
            </ul>
          </li>
        




           <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Usuarios
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                 <a href="@Url.Action("index","Usuarios")" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listas Usuarios</p>
                </a>
              </li>
           
           
            </ul>
          </li>
        





          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Etapas
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="@Url.Action("index","Etapas")" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listas Etapas</p>
                </a>
              </li>
           
           
            </ul>
          </li>
        

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Lotes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="@Url.Action("index","Lotes")" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listas lotes</p>
                </a>
              </li>
           
           
            </ul>
          </li>
       
         

             <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                ventas
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="@Url.Action("index","LVentasContado")" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>contado</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="@Url.Action("index","LVentasSeparado")" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>separado</p>
                </a>
              </li>


                <li class="nav-item">
                <a href="@Url.Action("index","Transaccion")" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Transaccion</p>
                </a>
              </li>
           
            </ul>
          </li>
       
       
          
              <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Reporte
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="@Url.Action("index","ReporteVentas")" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte Por empleados</p>
                </a>
              </li>
           
           
            </ul>
          </li>
       
       
       

         
       
  
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

   @* <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>*@

    <!-- /.content-header -->

    <!-- Main content -->
   
    <!-- /.content -->
    <br />
      
       <br/>

           <form  id="datos">
           <div class="form-group">
              <label class="control-label" id="etapaslista">etapas</label>
  @Html.DropDownList("idetapas", items, "SELECCIONAR", new { @class = "form-control",@value="" ,@name="idetapas", @id="idetapas" ,@onchange="recuperar(this);"})
                          
                            
            </div>

                <div class="form-group">
              <label class="control-label" id="etapaslista">lotes</label>
  @Html.DropDownList("idlotes",itemslotes, "SELECCIONAR", new { @class = "form-control",@value="" ,@name="idlotes", @id="idlotes" ,@onchange="recuperar(this);"})
                            
                            
            </div>

            <button type="button" class="btn btn-success " onclick="enviarinfo()" id="enviardata">Buscar</button>

            </form>

            
            @if(ViewBag.datosseparado==null){

                <table id="tabla" class="table table-striped table-condensed table-hover">
                 <thead>
                   <tr>
                <th>codigo</th>
                <th>lote</th>
                <th>etapa</th>
                <th>usuario</th>
                <th>cliente</th>
                 <th>precio</th>
                 <th>inicial</th>
                 <th>letras</th>
                 <th>restante</th>
                 <th>pagar</th>
                    
            </tr>

                 </thead>
                    <tbody>



                    </tbody>


                </table>


            }else{
     <table id="tabla" class="table table-striped  table-condensed table-hover">
        <thead>
            <tr>
                <th>codigo</th>
                <th>lote</th>
                <th>etapa</th>
                <th>usuario</th>
                <th>cliente</th>
                 <th>precio</th>
                 <th>inicial</th>
                 <th>letras</th>
                 <th>restante</th>
                 <th>pagar</th>
                @* <th>eliminar</th>*@
                    
            </tr>
        </thead>
        <tbody>
           @foreach(var item in @ViewBag.datosseparado){
               <tr>
                 <td>@item.idventassepa</td>
                 <td>@item.nombrelotes</td>
                  <td>@item.NombreEtapa</td>
                   <td>@item.nombre</td>
                   <td>@item.nombrecliente</td>
                    <td>@item.preciocontado</td>
                     <td>@item.PrecioInicial</td>
                      <td>@item.LetrasPagar</td>
                       <td>@item.restante</td>
                          
                     <td>
                     
                        
 <a  class="btn btn btn-primary btn-xs context-menu-one" data-id= "@item.idetapas" onclick="return idpagar('@item.idventassepa')" href=""><i class='fas fa-edit'></i></a>

                     </td> 
                 @*      <td>

 <a  class="btn btn btn-primary btn-xs context-menu-one btn_eliminar" id="btn_eliminar" data-id= "@item.idetapas"><i class="fa fa-trash" aria-hidden="true"></i></a>
                       </td>*@
                    


               </tr>



           }
        </tbody>
      
    </table>
    }
  </div>


   <div class="modal" tabindex="-1" id="modalCajaMov" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                @*<form method="post" asp-controller="Libro" asp-action="create">*@
                <div class="modal-header">
                    <h5 class="modal-title">Listar </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="datosenviar" method="post">
                        <div class="form-group">
                            <label class="control-label">id</label>
                            <input type="text" class="form-control"  id="idlotess" name="idlotess" readonly />
                        </div>
                         
                              <div class="form-group">
                            <label class="control-label" id="respuesta_nombre">nombre lotes</label>
                            <input type="text" class="form-control" required="required" id="nombrelotes" name="nombrelotes" readonly>
                             </div>

                             <input type="hidden" class="form-control"  id="idetapass" name="idetapass" readonly />

                              <div class="form-group">
                            <label class="control-label">etapa</label>
                            <input type="text" class="form-control" required="required" id="etapa" name="etapa" readonly>
                             </div>

                            <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">precio contado</label>
                            <input type="text" class="form-control" required="required" id="preciocontado" name="preciocontado" readonly>
                            </div>


                            <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">precio inicial</label>
                            <input type="text" class="form-control" required="required" id="precioinicial" name="precioinicial" value="" onchange="soloenteros()" oninput="validarsolonumeros()">
                            <span id="mensaje" color="red"></span>
                            </div>

                              <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">cuota monto</label>
                            <input type="text" class="form-control" required="required" id="cuotamonto" name="cuotamonto" >
                            </div>

                         


                             <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">letras</label>
                            <input type="text" class="form-control" required="required" id="letras" name="letras">
                            </div>

                             <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">restante</label>
                            <input type="text" class="form-control" required="required" id="restante" name="restante" readonly>
                            </div>




                              <div class="form-group">
                            <label for="descripcion" id="respuesta_archivoImagen">Imagen</label>
                            <input src="" id="archivoImagenn" name="archivoImagenn" type="hidden" />
                  
                           <td><img src="" id="imagenes" height="50px" width="50px"></td>

                             </div>

                                <div class="form-group">
                            <label class="control-label">cliente</label>
                            @Html.DropDownList("idcliente",itemcliente , "SELECCIONAR", new { @class = "form-control" ,@name="idcliente",@id="idcliente"})


                                </div>




                                  <div class="form-group">
                            <label for="descripcion" id="archivoVoucher">Voucher</label>
                            <input type="file" id="archivoVoucher" name="archivoVoucher" class="form-control input-sm" >
                            <td><img src="" id="archivoVoucher" height="50px" width="50px"></td>

                             </div>

                    </form>


                </div>
                <div class="modal-footer">
               <button type="button" class="btn btn-primary" id="btnguardar" data-dismiss="modal" data-backdrop="false">Guardar</button>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="cancel" />
                   @* <input type="hidden" name=" id" id="id" />*@
                 
                </div>

            </div>
        </div>
    </div>



    <div class="modal" tabindex="-1" id="modalCajaMovv" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                @*<form method="post" asp-controller="Libro" asp-action="create">*@
                <div class="modal-header">
                    <h5 class="modal-title">Listar pagar </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="datospagarlote" method="post">
                
                         

                          @*  <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">precio contado</label>
                            <input type="text" class="form-control" required="required" id="preciocontados" name="preciocontados" readonly>
                            </div>*@


                          @* <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">precio inicial</label>
                            <input type="text" class="form-control" required="required" id="precioiniciall" name="precioiniciall" value="" readonly>
                            <span id="mensaje" color="red"></span>
                            </div>*@

                              
                            <input type="hidden" class="form-control" id="idventassepa" name="idventassepa" />

                          
                            <input type="hidden"  class="form-control" id="idlotesss" name="idlotesss" />
                            

                             <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">letras</label>
                            <input type="text" class="form-control" required="required" id="letrass" name="letrass" readonly>
                            </div>

                             <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">cuota establecida</label>
                            <input type="text" class="form-control" required="required" id="cuotapagar" name="cuotapagar" readonly>
                            </div>


                                  <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">letras pagar</label>
                            <input type="text" class="form-control" required="required" id="letraspagar" name="letraspagar">
                            </div>

                                  <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">Monto pagar</label>
                            <input type="text" class="form-control" required="required" id="montopagar" name="montopagar" value="" onchange="solonumeros" oninput="validar()">
                            </div>



                             <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">monto actual</label>
                            <input type="text" class="form-control" required="required" id="restantes" name="restantes" readonly>
                            </div>



                                <div class="form-group">
                            <label class="control-label" id="respuesta_descripcion">restante</label>
                            <input type="text" class="form-control" required="required" id="restantess" name="restantess" >
                            </div>



                                 @* <div class="form-group">
                            <label for="descripcion" id="archivoVoucher">Voucher</label>
                            <input type="file" id="archivoVoucher" name="archivoVoucher" class="form-control input-sm" >
                            <td><img src="" id="archivoVoucher" height="50px" width="50px"></td>

                             </div>*@



                    </form>


                </div>
                <div class="modal-footer">
               <button type="button" class="btn btn-primary" id="btnguardarpagarlote" data-dismiss="modal" data-backdrop="false">Guardar</button>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="cancel" />
                   @* <input type="hidden" name=" id" id="id" />*@
                 
                </div>

            </div>
        </div>
    </div>
























  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

 
 <script src="~/Admintle/jquery/jquery-3.5.1.js"></script>
<script src="~/Admintle/datatable/jquery.dataTables.min.js"></script>
<script src="~/Admintle/jquery/bootstrap.bundle.min.js"></script>
</body>
</html>


<script type="text/javascript">

    function soloenteros(){

        const input = document.getElementById("precioinicial");
        const value = parseFloat(input.value);
        if(!isNaN(value)){
            if (Number.isInteger(value)) {
                const fixevalue = value.toFixed(2);
                input.value = fixevalue;


            }

        }
    }

                    const select1 = document.getElementById("idetapas");
                    const select2 = document.getElementById("idlotes");
                    const boton = document.getElementById("enviardata");
          boton.disabled = true;
        function habilitarBoton() {
         if (select1.value && select2.value) {
          boton.disabled = false;
         } else {
           boton.disabled = true;
         }
       }

       select1.addEventListener("change", habilitarBoton);
       select2.addEventListener("change", habilitarBoton);


    function validarsolonumeros(){

        var valor = document.getElementById("precioinicial").value;
        if(isNaN(valor)){

            document.getElementById("mensaje").innerHTML = "ingrese solo numeros";

        }else{

            document.getElementById("mensaje").innerHTML = "";
        }

          
              var num1 = document.getElementById("preciocontado").value;
              var num2 = document.getElementById("precioinicial").value;
             var resultado = parseInt(num1) - parseInt(num2);
            document.getElementById("restante").value = resultado.toFixed(2);



    }
         

     function solonumeros(){

        const input = document.getElementById("montopagar");
        const value = parseFloat(input.value);
        if(!isNaN(value)){
            if (Number.isInteger(value)) {
                const fixevalue = value.toFixed(2);
                input.value = fixevalue;


            }

        }
    }


     function validar(){

        var valor = document.getElementById("montopagar").value;
        if(isNaN(valor)){

            document.getElementById("mensaje").innerHTML = "ingrese solo numeros";

        }else{

            document.getElementById("mensaje").innerHTML = "";
        }

          
              var num1 = document.getElementById("montopagar").value;
              var num2 = document.getElementById("restantes").value;
             var resultado = parseInt(num2) - parseInt(num1);
            document.getElementById("restantess").value = resultado.toFixed(2);



    }


          function  idpagar(idventassepa){

           $.ajax({

               method:"GET",
               data: {idventassepa:idventassepa},
               url:"/LVentasSeparado/listarpagar",
               contentType: false,
               dataType:"json",
                success: function(idventassepa) {
                    alert("funciona");
                    alert(idventassepa[0].idlotes);
                    //var preciocontado = document.getElementById("preciocontados");
                    //var preciocontadodecimal = idventassepa[0].preciocontado;

                    //preciocontado.value=preciocontadodecimal.toFixed(2);
                  
                    //var precioinicial = document.getElementById("precioiniciall");
                    //var precioinicialdecimal = idventassepa[0].precioi;

                    //precioinicial.value = precioinicialdecimal.toFixed(2);

                     var restante = document.getElementById("restantes");
                    var restantedecimal = idventassepa[0].restante;

                    restante.value = restantedecimal.toFixed(2);

                    $('#idventassepa').val(idventassepa[0].idventassepa);
                    $('#idlotesss').val(idventassepa[0].idlotes);
                    var letraspagar = document.getElementById("letrass");
                    var letrasdecimal = idventassepa[0].letras;

                    letraspagar.value = letrasdecimal.toFixed(2);
                    
                    var cuotapagar = document.getElementById("cuotapagar");
                    var cuotapagardecimal = idventassepa[0].montopagar;

                    cuotapagar.value = cuotapagardecimal.toFixed(2);


                     $("#modalCajaMovv").modal('show');
                  
               },

               error: function(errormessage) {


                  alert(errormessage.responseText);

                }



           });

           return false;


       }
                 


         

     var tabla=$('#tabla').DataTable();
       function enviarinfo() {
             var idetapas = $('#idetapas').val();
             var idlotes = $('#idlotes').val();

             $.ajax({
                 method: 'post',
                 data:{idetapas:idetapas},
                 url: '@Url.Action("datos", "ListarParaRealizarVentasSeparado")?idetapas=' + $("#idetapas").val() +"&idlotes=" + $("#idlotes").val(),

                 //url: "/ListarParaRealizarVentas/datos",
                 dataType:"json",
                 contentType: false,
                success:function(datos) {
                    //alert(datos[0].imagenlotes1);

                    if(datos==0){

                        alert("lote no disponible");
                      document.getElementById("idetapas").value = "";
                        document.getElementById("idlotes").value = "";
                    }

                    btoa=(datos[0].imagenlotes1);
                    var cade = btoa;
                    var resultado="data:image/png;base64,"+cade;
                    //document.getElementsByName("archivoImagenn").value = resultado;
                    document.getElementById("archivoImagenn").value = resultado;
                    $('#idlotess').val(datos[0].idlotes);
                   $('#nombrelotes').val(datos[0].nombrelotes);
                    $('#idetapass').val(datos[0].idetapas);
                      $('#etapa').val(datos[0].etapa);
                    var preciocontado = document.getElementById("preciocontado");
                    var preciocontadodecimal = datos[0].preciocontado;
                    preciocontado.value=preciocontadodecimal.toFixed(2);
                    //$('#preciocontado').val(datos[0].preciocontado);
                    $('#archivoImagenn').attr("src",resultado);
                    $('#archivoImagenn').attr("name");
                     $('#imagenes').attr("src",resultado);
                    //$('#archivoImagenn').attr(".archivoImagenn",resultado);
                    //$('#archivoImagenn').val(datos[0].imagenlotes1);
                    //$('#archivoImagen').attr("#archivoImagen", resultado);
                  
                   
                    $("#modalCajaMov").modal('show');
                    document.getElementById("idetapas").value = "";
                    document.getElementById("idlotes").value = "";

                     
                },

                     error: function(errormessage) {


                        alert(errormessage.responseText);

                     }
              
                

             });


       }
         




           $("#btnguardar").click(function (e) {
        e.preventDefault();
             var j= $( "input[name='archivoImagenn']" ).val();
             alert(j);
        //var archivoimagen =document.getElementById("archivoImagenn").files[0]; 
             //     $('.archivoImagenn').each(function(){
             //               var imagen=$(this).val();
             //             });
             //alert(imagen);
         var enviar = $('#datosenviar')[0];
          var data = new FormData(enviar);
          data.append('idcliente', $('#idcliente').prop('value'));
         //data.append('archivoImagenn', $('#archivoImagenn').prop('value'));
        $.ajax({
            url: "/LVentasSeparado/guardar",
            dataType: 'json',
            method: 'post',
            contentType:false,
            data: data,
            processData: false,
            success: function (result) {

                   //window.location = '/LVentasSeparado';
                window.location = '/Transaccion';
               // alert(result.message);
                //tabla.ajax.reload(null,false);
                  
                  //$("#modalCajaMov").hide();
                   //tabla.ajax.reload();
            },

            error: function (result) {
                alert(result.error);
            }


           });

        });


             $("#btnguardarpagarlote").click(function (e) {
        e.preventDefault();
           
         var enviar = $('#datospagarlote')[0];
          var data = new FormData(enviar);
        $.ajax({
            url: "/LVentasSeparado/GuardarPago",
            dataType: 'json',
            method: 'post',
            contentType:false,
            data: data,
            processData: false,
            success: function (result) {

                   //window.location = '/LVentasSeparado';
                window.location = '/LVentasSeparado';
               // alert(result.message);
                //tabla.ajax.reload(null,false);
                  
                  //$("#modalCajaMov").hide();
                   //tabla.ajax.reload();
            },

            error: function (result) {
                alert(result.error);
            }


           });

        });






</script>

